<%= form_for(@song, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <h3>Q1. <br>どんな雰囲気…？</h3>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>盛り上がりたい</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>しんみりしたい</p>
            </div>

            <div class="col-12">
                <h3>Q2. <br>歌うターゲットは？</h3>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>若い子ウケ</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>おじさんおばさんウケ</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "3", nil %>女性ウケ</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "4", nil %>男性ウケ</p>
            </div>

            <div class="col-12">
                <h3>Q3.<br>どんな風に歌いたい？</h3>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>難易度高めで歌唱力を見せつけたい！</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>簡単で確実に歌い切りたい。</p>
            </div>
        </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit "post" %>
    </div>
<% end %>